
<nav class="navbar navbar-static-top navbar-inverse" id="nav-new" ng-controller="NavbarController as navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        VIT BS
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About Us</a></li>
        <li><a ng-href="#">Programs</a></li>
        <li><a ng-href="#">Admissions</a></li>
        <li><a ng-href="#">Campus</a></li>
        <li><a ng-href="#">Placements</a></li>
        <li><a ng-href="#">Events</a></li>
        <li><a ng-href="#">Contact Us</a></li>
      </ul>

    </div>
  </div>
</nav>

