/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v7/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
	height: 100%;
	width: 100%;
	font-family: 'Montserrat' , sans-serif;

}
.bold{
	font-weight: 900;
	font-size: 2.4em;
}
#nav-new{
	background: transparent !important;
	position: absolute !important;
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
	border:none !important;
	margin-bottom: 0px !important;
}
.navbar-inverse .navbar-nav > li > a {
    margin-top: 50px;
	color: #fff !important;
	font-weight: 600 !important;
	text-transform: uppercase;
}
.navbar-brand{
	margin-top: 50px;
	color: #fff !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}
#slides{
	min-height: 500px;
	background: #333333;
}
#slides-small{
	min-height: 300px;
}

.carousel-caption h1{
	font-weight: 700;
	font-size: 3.3em;
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
}


.carousel-indicators li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 8px;
    border : none !important;
    text-indent: -999px;
    background-color: #a6a6a6;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 8px !important;
    margin: 0;
    background-color: #fff;
}

.carousel-control{
	display : none;
}

.carousel-caption {
    position: absolute;
    right: 50% !important;
    top: 170px;
    z-index: 10;
    padding-bottom: 20px;
    text-align: left;
    text-shadow: none !important; 
}
.underline{
	margin-top: 20px;
    border-bottom: 10px solid #fff;
    content: "";
    width: 36%;

}
.btn-theme{	
	text-transform: uppercase;
	outline: 0 !important;
	border: none !important; 
	padding: 15px 35px;
	border: 1px solid;
	background: #444d58;
	color: #fff;
}
.btn-theme:hover{
	text-decoration: none;
}
.btn-theme a{
	color: #0768cb;
	text-decoration: none;
}
.about-section-home h2 , .admission-section-home h2 {
	font-weight: 900;
	color: #333333;
	text-transform: uppercase;
	font-size: 2.2em;
}
.about-section-home p , .admission-section-home p{
	font-weight: 400;
	color: #333333;
	font-size: 1.5em;
}
.admission-section-home{
	margin-top: 332px;margin-bottom: 65px;
}
.description-section-home{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.description-section-home img{
	margin-bottom: 45px;
}
.description-section-home p{
	font-size: 1.2em;
}


/*VErtical CArousel*/
.vertical .carousel-inner {
  height: 100%;
}
.vertical .carousel-inner > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
  .vertical .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .vertical .carousel-inner > .item.next,
  .vertical .carousel-inner > .item.active.right {
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .vertical .carousel-inner > .item.prev,
  .vertical .carousel-inner > .item.active.left {
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  .vertical .carousel-inner > .item.next.left,
  .vertical .carousel-inner > .item.prev.right,
  .vertical .carousel-inner > .item.active {
    top: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.vertical .carousel-inner > .active {
  top: 0;
}
.vertical .carousel-inner > .next,
.vertical .carousel-inner > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.vertical .carousel-inner > .next {
  left: 0;
  top: 100%;
}
.vertical .carousel-inner > .prev {
  left: 0;
  top: -100%
}
.vertical .carousel-inner > .next.left,
.vertical .carousel-inner > .prev.right {
  top: 0;
}
.vertical .carousel-inner > .active.left {
  left: 0;
  top: -100%;
}
.vertical .carousel-inner > .active.right {
  left: 0;
  top: 100%;
}
/*.vertical .img-container,.vertical .content-container{
	
	width: 50%;
}*/
.padding-lr-0{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.campus-buzz{
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: left;

}
.heading-carousel{ 
	font-weight: 700;
	font-size: 1.2em;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
}
.carousel-small-caption{
	font-weight: 500;
	font-size: 1.6em;
}
.carousel-small-description{
	font-weight: 300;
	font-size: 1.3em;
}
.know-more {
	text-decoration: none;
	margin-top: 20px;
	text-transform: uppercase;
}
.content-container{
	padding: 10px;
	text-align: left;
}
.section-header{
	font-weight: 900;
	color: #333333;
	text-transform: uppercase;
	font-size: 2.2em;
}
.video-modal{
	filter: brightness(50%);
	margin-bottom: 70px;
	margin-top: 50px;
	position: relative;
}
.play {
	position: relative;
	font-size: 58px;
	color: #ffffff;
	top: 101px;
	border: 5px solid #fff;
	border-radius: 50%;
	padding: 12px 24px;
	z-index: 1000;

}
.white{
	color: #fff;
	position: fixed;
	top: 0;
	right: 0;
}
.overlay{
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.courses{
	background: url('../../assets/images/courses-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}
.blue-overlay{
	position: absolute;
    width: 100%;
    background: rgba(59,101,191,0.7);
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}
.width-20:hover{
	background: rgba(5,48,93,0.8);
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.programs-offered{
	margin-top: 80px;
	margin-bottom: 80px;
	min-height: 270px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.program-details{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size : 2.4em;
	font-weight: 700;
	position: absolute;
	top:78px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.dark-blue{
	background: #444d58;
}
.light-blue{
	background: #0e66bf;
}
.program-offered-card{
	padding: 10px;
	min-height: 270px;
	cursor: pointer;
	position: relative;
}
.modal-content{
	text-align: center;
	background: transparent !important;
	box-shadow: none;
	border: none !important;
	border-radius: 0px !important;
}
.modal-header{
	border: none !important;
}
.modal-body{
	padding: 0px !important;
	box-shadow: none;
	border: none !important;
	border-radius: 0px !important;

}
.small-slide{
	background: #fff;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.height{
	min-height: 350px;
	height: 400px;
	cursor: pointer;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
      text-align: center;
          transition: all 1s ease;
}
.height:hover{
	height: 300px;
	opacity: 0.7;
}
.grow img {
  
 height: 300px;
 	width: 310px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 .img-container{
 	overflow: hidden;
 	cursor: pointer;
 	height: 300px;
 	width: 300px;
 }
.grow img:hover {
  width: 410px;
  height: 400px;
}
.width-20{
	-webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      text-align: center;
          transition: all 0.7s ease;
}
.cursor-pointer{
	cursor: pointer;
}
/*Modified Hover Effects*/
.hvr-sweep-to-right:before, .hvr-sweep-to-left:before {
    
    background: #164962;
    color : #fff !important;
   }
   .hvr-shutter-out-horizontal:before {
    
    background: #0768cb;
}
.hvr-underline-from-center:before{
	background: #fff;
}
.timeline ol {
	position: relative;
	display: block;
	margin: 100px;
	height: 4px;
	background: #9b2;
	text-align: center;
}
.timeline ol::before,
.timeline ol::after {
	content: "";
	position: absolute;
	top: -8px;
	display: block;
	width: 0;
	height: 0;
  border-radius: 10px;
	border: 10px solid #9b2;
}
.timeline ol::before {
	left: -5px;
}
.timeline ol::after {
	right: -10px;
    border-radius: 10px;
}

/* ---- Timeline elements ---- */

.timeline li {
	position: relative; 
    top: -77px;
    display: inline-block;
    width: 150px;
}
.timeline li::before {
	content: "";
    position: absolute;
    top: 55px;
    left: 64px;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #9b2;
    z-index: 4;
}

/* ---- Details ---- */

.details {
	display: block;
    position: absolute;
    /* left: -70px; */
    /* bottom: -29px; */
    padding: 15px;
    border-radius: 3px;
    border-right: 2px solid rgba(0,0,0,.1);
    border-bottom: 2px solid rgba(0,0,0,.1);
    /* transform: rotate(0deg); */
    font: 12px arial;
    background: #fff;
    top: -2px;
}
.details::before {
	content: "";
    position: absolute;
    left: 0;
    top: 44px;
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #f5f5f5;
    border-top: 0;
    right: 0;
    margin: 0 auto;
    transform: rotate(180deg);
}

/* ---- Hover effects ---- */

.details li:hover {
	cursor: pointer;
  color: #28e;
}
.details li:before {
	    top: -3px;
    left: 108px;
    width: 8px;
    height: 8px;
    border-width: 5px;
    border-color: #28e;
}
.details {
	display: block;
  color: #444;
}